<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Add the link to the CSS stylesheet here -->
  <link rel="stylesheet" href="/styles/content.css">
  <!-- Hint: the link is relative to the public folder -->
  <title>Magic Posts</title>
</head>
<body>
  <main>

   
    <div class="container">
      <div class="row">
          <div class="col text-center">
              <iframe style="margin-top: 20px; width: 80px; height: 80px;" src="https://giphy.com/embed/l0HlHbpyVDM08VQNq" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              <iframe style="margin-top: 20px; width: 80px; height: 80px;" src="https://giphy.com/embed/3oz8xH46dD1DSx3vNK" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              <iframe style="margin-top: 20px; width: 80px; height: 80px;" src="https://giphy.com/embed/1108D2tVaUN3eo" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              <iframe style="margin-top: 20px; width: 80px; height: 80px;" src="https://giphy.com/embed/mZWAgG8U4sXzW" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              <iframe style="margin-top: 20px; width: 80px; height: 80px;" src="https://giphy.com/embed/3oz8xH46dD1DSx3vNK" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              <iframe style="margin-top: 20px; width: 80px; height: 80px;" src="https://giphy.com/embed/l0HlHbpyVDM08VQNq" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              <p style="color:white" id="p1" class="text-center">Today's date is <%= new Date().toDateString() %></p>
             
          </div>
      </div>
  </div>
  
  
   